<h2>Welcome to MoMA's Art Database</h2>

<h3>Purpose</h3>
<p>Throughly explore the Rails framework and reinforce knowledge of Ruby from previous lessons</p>

<h3>Project</h3>
Build a custom web-based application using Ruby on Rails, PostgreSQL and MVC Concepts

<h3>Key Learnings</h3>
<ul class="content-ul">
  <li class="content-li">The concepts behind the Model-View-Controller structure and how each component fits together</li>
  <li class="content-li">Integration of models with databases</li>
  <li class="content-li">Routing techniques</li>
  <li class="content-li">Controller logic</li>
</ul>